
*{
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600&display=swap');
  font-family:'poppins', sans-serif;
    
}

body{
    background:url(../../Images/images.jpg);
    /* background-size:cover;
    background-position:center;
    background-repeat:no-repeat; */
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.65);
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.65);
    /* border:1px solid rgb(231, 223, 223); */
    width:400px;
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items:center;
    justify-content:center;
}

h4{
    font-weight:900;
    font-size:32px;
    color:white;
}
.py-4{
    color:white;
    font-weight:900;
    
}
.form{
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items:center;
    justify-content:center;
    padding:1rem;
}

.username{
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items:center;
    justify-content:center;
}

input{
    width:200px;
    padding:0.8rem;
    margin-bottom:1rem;
    border:1px solid grey;
    outline:none;
    border-radius:5px;
}
.btn{
    width:230px;
    padding:0.8rem;
    margin-bottom:1rem;
    border-radius:5px;
    background:rgb(3, 230, 3);
    border:none;
    color:white;
    font-weight:900;
    font-size:20px;
}
.btn:hover{
    background:white;
    color:rgb(3, 230, 3);
    outline:1px solid rgb(3, 230, 3);
}
.member{
    color:white;
    font-weight:900;
    
}